# Python cache and compiled files
__pycache__/
dist/
*.egg-info/

# Virtual environments
.venv/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store

# Git
.git/

# Test files and outputs
*.gif
*.png
*.jpg
*.tif
*.ipynb

# Temporary files
*.tmp
*.temp
.cache/
.pytest_cache/

# Environent
.env
